/* Variables */
:root {
  --main-color: #1f2021;
  --secondry-color: #19c8fa;
}
/* Global Styles */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  padding: 0px;
  margin: 0px;
}

.heading {
  text-align: center;
  width: 400px;
  margin: auto;
  margin-top: 100px;
  position: relative;
}

.heading h3 {
  font-size: xx-large;
  font-weight: 400;
  position: relative;
}

.heading p {
  padding-top: 30px;
  line-height: 1.8;
  font-weight: 300;
  font-size: large;
  color: #333;
}
.heading h3::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}

.heading h3::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid #333;
  border-radius: 100%;
  left: 49%;
  top: 150%;
  background-color: white;
}
.container {
  width: 85%;
  margin: auto;
  position: relative;
}

@media (max-width: 750px) {
  .container {
    width: 100%;
  }
}
/* Global Styles */
/* landing */
.landing {
  width: 100%;
  height: 100vh;
  background-image: url(../Images/landing.jpg);
  background-size: cover;
  background-color: var(--main-color);
  position: relative;
}

.overly {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 60%);
}

/* header */
.landing .header {
  padding: 20px;
}
.landing .header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.landing .header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}

.landing .header .container .navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.landing .header .container .navbar .nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.landing .header .container .navbar .nav-list li {
  padding: 30px 10px;
  height: 100%;
}

.landing .header .container .navbar .nav-list li a {
  text-decoration: none;
  font-weight: 300;
  font-size: medium;
  color: white;
  transition: 0.3s;
  position: relative;
}

.landing .header .container .navbar .nav-list li:hover a {
  color: var(--secondry-color);
}

.landing .header .container .navbar .nav-list li:hover a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--secondry-color);
  bottom: -30px;
  left: 0;
}

.landing .header .container .navbar .search {
  color: white;
  font-size: larger;
  position: relative;
  padding-left: 15px;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.landing .header .container .navbar .search::before {
  content: "";
  border-width: 1px;
  border-style: solid;
  position: absolute;
  height: 100%;
  left: 0px;
}

.landing .header .container .navbar .list-icon {
  display: none;
}
.landing .header .container .navbar .list-icon div {
  position: relative;
  background-color: white;
  width: 20px;
  height: 3px;
  margin-bottom: 5px;
}
.landing .header .container .navbar .list-icon div:last-child {
  margin-bottom: 0px;
}

@media (max-width: 770px) {
  .landing .header .container .navbar .nav-list {
    display: none;
    position: absolute;
    top: 90px;
    width: 100%;
    left: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    z-index: 1;
  }
  .landing .header .container .navbar .list-icon {
    display: block;
    height: 100%;
  }
  .landing .header .container .navbar .list-icon:hover + .nav-list {
    display: block;
  }
}
/* header */

.landing .text {
  color: white;
  background: #19c9fa3d;
  padding: 25px;
  width: 50%;
  position: absolute;
  top: 35%;
}

.landing .text h1 {
  font-size: x-large;
  font-weight: 800;
  line-height: 1.8;
}

.landing .text .p {
  line-height: 1.8;
  font-weight: 300;
}

@media (max-width: 750px) {
  .landing .text {
    width: 100%;
    top: 105px;
    left: 0;
  }
}

.landing .rounded {
  display: flex;
  position: absolute;
  left: 45%;
  bottom: 0px;
}

.landing .rounded div {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 100%;
  margin: 5px;
}

.landing .rounded div:first-child {
  background-color: white;
}

.landing .arrows {
  position: relative;
  color: white;
  font-size: x-large;
  top: 40%;
  align-items: center;
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
/* landing */

/* services */

.service .container .service-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
}
.service .container .service-grid .col .col-item {
  display: flex;
}
.service .container .service-grid .col .col-item i {
  margin-right: 50px;
}
.service .container .service-grid .col .col-item h4 {
  color: var(--secondry-color);
  font-size: larger;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.service .container .service-grid .col .col-item p {
  line-height: 1.8;
  font-weight: 300;
}

/* End Service */

/* Start Design */
.design {
  background-image: url(../Images/design-features.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
}

.design img {
  position: absolute;
  width: 350px;
  bottom: -150px;
  left: 8%;
}

.design div {
  position: absolute;
  color: white;
  right: 0;
  top: 15%;
  width: 50%;
  background-color: rgb(15 116 143 / 70%);
  padding: 30px;
}
.design div h4 {
  font-size: x-large;
  margin: 30px;
  font-weight: 300;
}

.design div ul {
  font-size: larger;
  line-height: 2.5;
  list-style: none;
}

.design div ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
  font-size: large;
}

.design .overly {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

@media (max-width: 860px) {
  .design div {
    width: 100%;
  }
  .design img {
    display: none;
  }
}

/* end Design */

/* Start Portfolio */
.portfolio .container .shuffle {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: large;
}

.portfolio .container .shuffle li {
  padding: 10px;
}

.portfolio .container .shuffle li:first-child {
  background-color: var(--secondry-color);
  color: white;
}

.portfolio .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.portfolio .box .col {
  width: 25%;
  position: relative;
}

@media (max-width: 768px) {
  .portfolio .box .col {
    width: 50%;
  }
}

.portfolio .box .col div {
  overflow: hidden;
  position: relative;
}
.portfolio .box .col div img {
  max-width: 100%;
  transition: 0.3s;
}

.portfolio .box .col div img:hover {
  transform: rotateZ(3deg) scale(1.1);
}

.portfolio .box .col div:hover .caption {
  bottom: 0;
}

.portfolio .box .col div .caption {
  position: absolute;
  bottom: -100px;
  padding: 10px;
  margin: 0;
  color: black;
  background-color: white;
  width: 100%;
  transition: 0.3s;
}

.portfolio .box .col div .caption h4 {
  padding: 3px;
  margin: 0;
}

.portfolio .box .col div .caption p {
  padding: 3px;
  margin: 0;
  color: var(--secondry-color);
  font-weight: 400;
}

.portfolio a {
  margin: 25px;
  padding: 15px;
  text-decoration: none;
  background: var(--secondry-color);
  color: white;
  font-weight: 400;
}

/* End potifolio */

/* Start Video */
.video {
  width: 100%;
  position: relative;
  margin-top: 100px;
  padding: 0;
}

.video video {
  width: 100%;
  padding: 0;
}

.video .text {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  background-color: rgb(15 116 143 / 70%);
  padding: 30px;
}

.video .text h4{
  color: white;
  font-weight: 400;
  font-size: larger;
  margin: 10px;
}

.video .text p{
  color: white;
  margin: 30px;
}

.video .text a{
  text-decoration: none;
  padding: 15px;
  color: white;
  background-color: var(--main-color);
}

.video .overly{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}